@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --tomato: hsl(4, 100%, 67%);
  --darkSlateGray: hsl(234, 29%, 20%);
  --charCoalGray: hsl(235, 18%, 26%);
  --gray: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--charCoalGray);
  font-family: "Roboto", sans-serif;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 700px;
  height: 400px;
  background-color: var(--White);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.first-container {
  align-self: start;
  padding: 20px;
}

.first-container h1 {
  margin: 10px 0;
  font-weight: 700;
  font-size: 2.5rem;
}

.first-container p {
  font-size: 14px;
  padding-bottom: 20px;
}

.first-container .list {
  font-size: 14px;
  padding-bottom: 10px;
}

.first-container .list img {
  width: 25px;
  padding-right: 10px;
}

.first-container label {
  display: block;
  /* margin-top: 20px; */
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--darkSlateGray);
  font-weight: 700;
}

.first-container .active {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--gray);
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 1px;
}

.first-container .active::placeholder {
  font-size: 15px;
  letter-spacing: 1px;
}

.first-container .active:focus {
  outline: 0;
  border: 1px solid var(--charCoalGray);
}

.first-container button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  color: var(--White);
  background-color: var(--darkSlateGray);
  border-radius: 8px;
  border: none;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}

.first-container button:hover,
.sucess button:hover {
  background-color: var(--tomato);
  box-shadow: 0px 5px 10px var(--tomato);
}

.second-container {
  padding: 10px;
}

.second-container img {
  width: 300px;
  height: 380px;
}

/* sucess */

.sucess {
  width: 300px;
  height: 300px;
  background-color: var(--White);
  padding: 30px;
  border-radius: 8px;
}

.sucess img {
  width: 30px;
}

.sucess h1 {
  margin: 10px 0;
  color: var(--darkSlateGray);
  font-weight: 700;
}

.sucess p {
  font-size: 14px;
  font-weight: 400;
}

.sucess span {
  color: var(--darkSlateGray);
  font-weight: 700;
}

.sucess button {
  width: 100%;
  margin: 25px 0;
  padding: 10px;
  background-color: var(--darkSlateGray);
  color: var(--White);
  border: 0;
  border-radius: 8px;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
}

/* error states */

.labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.labels p {
  color: var(--tomato);
  font-weight: 700;
  font-size: 12px;
}

.error {
  border-radius: 8px;
  border: 1px solid var(--tomato);
  color: var(--tomato);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* media queris */

@media (max-width: 650px) {
  .main-container {
    width: 400px;
    height: 100vh;
    background-color: var(--White);
    display: flex;
    border-radius: 0px;
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .second-container {
    padding: 0px;
    position: relative;
    bottom: 350px;
  }
  .second-container img {
    width: 100%;
    height: 100%;
  }
  .first-container {
    padding: 10px 20px;
    margin-top: -350px;
  }
  .first-container h1 {
    margin-bottom: 10px;
  }

  .first-container p {
    font-size: 18px;
  }

  .first-container .list {
    font-size: 14px;
  }

  .first-container .list img {
    width: 30px;
  }
  .labels {
    margin-top: 0px;
}
  .labels p {
    color: var(--tomato);
    font-weight: 700;
    font-size: 12px;
  }
  /* sucess */

  .sucess {
    width: 400px;
    height: 100vh;
    border-radius: 0;
    overflow: hidden;
  }

  .sucess img {
    margin-top: 50px;
    width: 100px;
  }

  .sucess h1 {
    margin: 30px 0;
    font-size: 3rem;
  }

  .sucess p {
    font-size: 20px;
    font-weight: 400;
  }
  .sucess button {
    width: 100%;
    margin-top: 50px;
  }
}
@media (max-width: 375px){
  .main-container {
    width: 375px;
    height: 100vh;
  }
  .second-container {
    position: relative;
    bottom: 300px;
  }
  .second-container img {
    width: 100%;
    height: 100%;
  }
  .first-container {
    margin-top: -300px;
  }
  .sucess {
    width: 375px;
    height: 100vh;
    border-radius: 0;
  }
}